[Desktop Entry]
Name=Sublime Text 2
Comment=Edit text files
Exec=/opt/sublimetext/sublime_text
Icon=/opt/sublimetext/Icon/128x128/sublime_text.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Utility;TextEditor;
